<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="vista">vista</a>
      <a mat-list-item routerLink="formulario">formulario</a>
      <a mat-list-item routerLink="busqueda">busqueda</a>
      <a mat-list-item routerLink="pagina1">dashboard</a>
      <a mat-list-item routerLink="asincrona24">asincrona24</a>
      <!-- login -->
      <a mat-list-item routerLink="login" *ngIf="!usuariologueado" >Login</a>
      <a mat-list-item routerLink="login" *ngIf="usuariologueado" (click)="logout()" >Logout</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>la aplicación 24</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
